{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="btn-group p-4" role="group" aria-label="Filter by language">
      <button type="button" class="btn btn-primary" id="all">All</button>
      <button type="button" class="btn btn-primary" id="python">Python</button>
      <button type="button" class="btn btn-primary" id="c++">C++</button>
      <button type="button" class="btn btn-primary" id="bash">BASH</button>
      <button type="button" class="btn btn-primary" id="sql">SQL</button>
      <button type="button" class="btn btn-primary" id="html">HTML</button>
      <button type="button" class="btn btn-primary" id="css">CSS</button>
      <button type="button" class="btn btn-primary" id="js">JAVASCRIPT</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="error"><h5>{{ data.error }}</h5></div>
    {% for row in data %}
    <div class="col-sm-12 col-lg-4">
      <div class="card" style="width: 18rem">
        <img
          src="{{ row.image }}"
          class="card-img-top"
          alt="Product image for the {{ row.name }} VSCode extension."
        />
        <div class="card-body">
          <h5 class="card-title">{{ row.name }}</h5>
          <p class="card-text">{{ row.about }}</p>
          <a href="{{ row.hyperlink }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
