{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    {% for row in data %}
    <div class="col-sm-12 col-lg-4">
      <div class="card" style="width: 18rem">
        <img
          src="{{ row.image }}"
          class="card-img-top"
          alt="Product image for the {{ row.name }} VSCode extension."
        />
        <div class="card-body">
          <h5 class="card-title">{{ row.name }}</h5>
          <p class="card-text">{{ row.about }}</p>
          <a href="{{ row.hyperlink }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
